.cart {
    display: block;
    margin-left: 5px;
    z-index: 1;
    width: 35%;
    max-height: 55%;
    background-color: #fab83e;
    border: 2px solid #FFA500;
    overflow: auto;
    position: fixed;
    right: 20px;
    border-radius: 10px;
}

.cartList {
    width: 95%;
    padding: 2px;
}

.cartCard {
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 1100;
    width: 95%;
    margin: 3% auto;
}

.img {
    height: 55px;
    width: 55px;
    border-radius: 10px;
}

.titleDescrption {
    margin-left: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 55%;
}

.titleDescrption h3 {
    margin: 2px;
}

.titleDescrption p {
    font-size: 15px;
    margin: 5px;
}

.closeButton {
    margin: 5px;
}

.price {
    margin: 0px 10px 0px 10px;
}
