.head {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: #fbfaff;
    box-shadow: 0px 5px #FFA500;
    margin: 0px 5px 15px 0px;
    padding: 3px;
}

.head h1 {
    color: #FFA500;
}

.cartBox {
    display: flex;
    margin-left: auto;
    padding-right: 15px;
    align-items: center;
}

.cartBox total {
    margin: 0px;
}

.cartImg {
    margin: 15px;
}

.cart-count {
    display: block;
    position: absolute;
    background: #FFA500;
    height: 25px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: 12px;
    right: 15px;
}
